{% block _before %}
<div class="ui olive inverted attached segment">
{% endblock %}
	<div class="column">
		<div class="ui attached segment"><i class="people arrows icon"></i> Groupes</div>
		<div class="ui attached green segment">
			<div class="ui divided list">
				<div class="item">
					<a href="{{ path('new.group') }}" class="ui basic olive button" data-target="#new-group"><i class="plus icon"></i> Ajouter un groupe...</a>
					<div id="new-group"></div>
				</div>
				<div class="item">
					<div id="dd-groupes" class="ui dropdown olive button" value="Ajouter des utilisateurs au groupe..." tabindex="0">

						<i id="icon-dd-groupes" class="icon walking"></i> <div id="text-dd-groupes" class="text">Ajouter des utilisateurs au groupe...</div> <div id="lbl-group" class="ui label basic inverted black" style="display:none"></div>
						<div class="menu transition hidden" tabindex="-1">
							<a id="dd-item-dd-groupes-0" class="item" data-value="3">Personnels</a> <a id="dd-item-dd-groupes-1" class="item" data-value="4">Etudiants</a> <a id="dd-item-dd-groupes-2" class="item" data-value="5">Enseignants</a> <a id="dd-item-dd-groupes-3" class="item" data-value="6">Vacataires</a>
						</div>
					</div>
					<div id="add-to-group" style="margin-top: 3px"></div>
				</div>
				<div class="item">
					<div class="ui labeled button" tabindex="0">
						<a href="groups/?" class="ui olive button" data-target="#orga-index">
							<i class="users icon"></i> Gérer les groupes...
						</a>
						<span id="groups-count" class="ui basic olive left pointing label">
                                4
                            </span>
					</div>
				</div>
			</div>
		</div>
	</div>

{% block script %}
	{% if hasScript %}
	{{script_foot | raw}}
	{% endif %}
{% endblock %}
